<div class="flex bg-main text-white justify-between absolute inset-x-0 top-0 items-center pb-3 pt-3 h-20 text-lg">
  <a class="ml-3 fill-white" data-method="get">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      stroke-width="2"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M4 6h16M4 12h16M4 18h16"
      />
    </svg>
  </a>
  <h2>Catagories</h2>
  <div class="fill-white">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6 mr-3"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      stroke-width="2"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
      />
    </svg>
  </div>
</div>
<div class="bg-text absolute inset-0 -z-10 mt-20 mb-24">
  <div class="flex flex-row w-full h-20 bg-white justify-between items-center px-6 border-2 border-text rounded">
    <h3 class="text-text text-base">Total</h3>
    <h3 class="text-black text-base">$45.00</h3>
  </div>
  <div class="overflow-y-auto h-[87%]">
    <%@groups.each do |group|%>
      <div class="flex flex-row rounded m-2 bg-white h-28" data-id=<%="group-#{group.id}"%>>
        <img src=<%=image_path("icon.png")%> class="w-fit h-auto"/>
        <div class="flex items-center w-full justify-between p-2">
          <p class="text-lg bold text-text justify-self-start truncate"> <%=group.name%> </br> <%=group.created_at.to_date.to_fs(:short)%> </p>
          <p class="bold text text-color justify-self-end" >  <%=number_to_currency group.entities.where(user: current_user).sum(:amount)%> </p>
        </div>
      </div>
    <%end%>
  </div>

</div>
<div class="flex bg-second h-24 items-center justify-center absolute inset-x-0 bottom-0 ">
  <%= button_to 'New group', new_group_path, method: :get , class: ' h-16 w-72 text-white border-2 border-white rounded' %>
</div>
